<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>My first application</title>
        <body>
            <h1>Find Student by ID</h1>
            <p th:text="${student.id}">-1</p>
            <p th:text="${student.name}">NULL</p>
            <p th:text="${student.surname}">NULL</p>
            <p th:text="${student.birthDate}">NULL</p>
            <p th:text="${student.type}">NULL</p>
        </body>
    </head>
</html>


